<style>
    .background {
        background-color: darkgray;
        background-image: url("../static/img/music.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .errorbackground {
        background-color: darkred;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .login-container {
        background: linear-gradient(to bottom, #00f, #f0f);
        color: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 400px;
        margin: 30px;
    }

    .signup-container {
        background: linear-gradient(to bottom, #00f, #f0f);
        color: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 400px;
        margin: 30px;
    }

    .logo {
        max-width: 300px;
        height: auto;
    }
    .welcome-message {
        text-align: center;
        color: orange;
        margin-bottom: 30px;
        font-size: 4rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    .error {
        font-size: 50px;
        padding: 100px;
    }
    .msg{
        font-size: 30px;
        font-style: oblique;
    }
    .message {
        text-align: center;
        color: white;
        margin-bottom: 0px;
        font-size: 4rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    /* error.html */
    .error-container {
        background-color: #1F1F1F;
        color: red;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    .errorbox {
        background: radial-gradient(circle, darkred, orangered);
        display: flex;
        justify-content: center;   /* 수평 중앙 정렬 */
        align-items: center;       /* 수직 중앙 정렬 */
        height: 100vh;             /* 화면 전체 높이 */
    }

    /* mainpage.html Style*/
    .mainbody {
        background-color: #f8f9fa;
    }

    .navbar {
        background-color: #343a40;
    }

    .navbar-brand {
        color: white;
        font-weight: bold;
    }

    .album-cover {
        width: 100%;
        height: auto;
    }

    .music-player {
        background-color: #343a40;
        color: white;
        padding: 20px;
    }

    .footer {
        background-color: #343a40;
        color: white;
        padding: 10px 0;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>